<!DOCTYPE html>
<html>
	<title>Car Sales Test</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<style>
	.carImg{
		width:100%;
	}
	.carTitle{
		font-size: 14px;
		font-weight: bold;
	}
	.carWrapper{
		margin-bottom:20px;
	}
</style>
<script>
var app = angular.module("carList", []); 
app.controller("carCtrl", function($scope, $http) {
    
    $http.get("data.json").then(function(response) {
        $scope.result = response.data.results;
        angular.forEach($scope.result, function(value, key) {
        	$scope.result[key].showButton = false;
    	});
        $scope.savedCars = response.data.savedCars;
        angular.forEach($scope.savedCars, function(value, key) {
        	$scope.savedCars[key].showButton = false;
    	});

    });
    
    $scope.saveCar = function(key) {
	    $scope.savedCars.push($scope.result[key]);
    }
    
    $scope.removeCar = function(key) {
	    $scope.savedCars.splice(key, 1);
    }
	
	
});
</script>

	<div class="container" ng-app="carList" ng-controller="carCtrl">
		<div class="row">
			<div class="col-sm-6">
				<div class="row carWrapper" ng-mouseover="r.showButton = true" ng-mouseleave="r.showButton = false" ng-repeat="r in result">
					<div class="col-xs-12 col-sm-6">
						<img class="carImg" src="{{r.thumbnail}}" alt="">
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="carTitle">{{r.title}}</div>
						<div class="carPrice">{{r.price}}</div>
						<button ng-click="saveCar($index)" ng-show="r.showButton" type="button" class="btn btn-success">Save</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row carWrapper" ng-mouseover="r.showButton = true" ng-mouseleave="r.showButton = false" ng-repeat="s in savedCars">
					<div class="col-xs-12 col-sm-6">
						<img class="carImg" src="{{s.thumbnail}}" alt="">
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="carTitle">{{s.title}}-{{$index}}</div>
						<div class="carPrice">{{s.price}}</div>
						<button ng-click="removeCar($index)" ng-show="r.showButton" type="button" class="btn btn-danger">Remove</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
